# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_ME
DB_NAME=ecommerce

# API
SERVER_SERVLET_CONTEXT_PATH=/api/v1

# JWT
JWT_ACCESS_TOKEN_SECRET=REPLACE_WITH_SECRET
JWT_ACCESS_TOKEN_EXPIRATION=604800000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# Cloudinary
CLOUDINARY_CLOUD_NAME=CHANGE_ME
CLOUDINARY_API_KEY=CHANGE_ME
CLOUDINARY_API_SECRET=CHANGE_ME
CLOUDINARY_FOLDER=Ecommerce

# VNPay
VNPAY_TMNCODE=CHANGE_ME
VNPAY_SECRET_KEY=CHANGE_ME
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://127.0.0.1:5500/result.html
...

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=CHANGE_ME
EMAIL_PASSWORD=CHANGE_ME

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
